<div class="container" style="z-index: 1001;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Registracija korisnika</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="submitForm">
                        <fieldset>
                            <div class="form-group">
                                <label>
                                    Username
                                </label>
                                <input class="form-control" type="text" ng-model="newUser.username">
                            </div>
                            <div class="form-group">
                                <label>
                                    Password
                                </label>
                                <input class="form-control" type="text" ng-model="newUser.password">
                            </div>
                            <div class="form-group">
                                <label>
                                    Email
                                </label>
                                <input class="form-control" type="text" ng-model="newUser.email">
                            </div>
                            <div class="form-group">
                                <label>
                                    Drzava
                                </label>
                                <select ng-model="selectedCountry" ng-change="onCountryChange()" ng-options="country.naziv for country in gridOptions.countries" class="form-control"></select>
                            </div>
                            <button class="btn btn-primary" ng-click="register()">Prijavi se</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>